<a href="https://colab.research.google.com/github/mangroex/test1_MG/blob/main/Hausaufgabe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
from google.colab import drive
import pandas as pd
import requests
from io import StringIO

# Lesen von CSV-Dateien

In [5]:
# Datei von einer URL lesen - z.B. COVID-19 Schutzimpfungen - Ausgelieferte und bestellte Impfdosen
# Datei in Dataframe umwandeln

url = 'https://info.gesundheitsministerium.gv.at/data/timeline-faelle-ems.csv'
df = pd.read_csv(url, sep=';')

In [6]:
# Dataframe anzeigen
df.head()

,Datum,BundeslandID,Name,BestaetigteFaelleEMS
0,2021-03-01T08:00:00+01:00,1,Burgenland,12375
1,2021-03-01T08:00:00+01:00,2,Kärnten,29226
2,2021-03-01T08:00:00+01:00,3,Niederösterreich,72922
3,2021-03-01T08:00:00+01:00,4,Oberösterreich,86410
4,2021-03-01T08:00:00+01:00,5,Salzburg,37902